terraform apply -var-file=./conf/00_hashicups.tfvars # Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
cd learn-consul-get-started-vms/self-managed/infrastructure/awsgit clone https://github.com/hashicorp-education/learn-consul-get-started-vms
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
